body{
	color: darkgoldenrod;text-align:left;font-family: cursive;cursor: pointer;
}
p{font-family: cursive;}
footer{text-align:center;}
body{
	background-image: url(https://media.istockphoto.com/photos/world-map-and-networking-picture-id1346580665?b=1&k=20&m=1346580665&s=170667a&w=0&h=t_cC_V86wAspm0v9J8mh7XYIRI3QffCK14MzX6ZyeoY=);
	background-size: cover;
}
